@font-face {
    font-family: 'bold';
    src: url('font/kimm_bold.ttf') format('truetype');
}
@font-face {
    font-family: 'thin';
    src: url('font/kimm_light.ttf') format('truetype');
}


body{
    margin: 0px;
}
a{
    text-decoration: none;
}
.common{
}

.common-body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top : 76px;
}

.flexCol{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display:flex;
    flex-direction: row;
}
textarea{
    resize:none;
}