.actFrame{
    gap: 70px;
    font-family: 'thin';
}
.contents{
    gap:14px;
}
.actTitle{
    font-size: 25px;
}
.actContentTitle{
    font-family: 'bold';
    font-size: 15px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis
}
.actContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid #D9D9D9;
}
.actContextIcon{
    width: 18px;
    height: 18px;
}
.actView_comment{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    font-family: 'thin';
}
@media (max-width :400px){
    .actFrame{
        gap: 40px;
    }
    .actTitle{
        font-size: 20px;
    }
}
@media (min-width : 995px){
    .actFrame{
        padding-right: 50px;
        padding-left: 50px;
    }
    .actContentTitle{
        font-size: 25px;
    }
    .actContextIcon{
        width: 30px;
        height: 30px;
    }
}