.mypageFrame{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    gap: 40px;
    padding-bottom: 150px;
    font-family: 'thin';
}
.menuListTitle{
    font-size: 28px;
}
.menuListFrame{
    gap: 40px;
}
.menuListContents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 17px;
    gap:25px;
}
.menu{
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border :none !important;
    
}
.menu:hover{
    background-color: #E6F4F1;
}
.clicked{
    background-color: #E6F4F1;
}
.LinkTag:visited{
    color:black;
}
.LinkTag:link{
    color:black;
}
.contentFrame{
    width: 100%;   
}
@media (max-width : 428px){
    .mypageFrame{
        padding: 0 40px;
        min-width: 0px;
        
    }
    .menuListTitle{
        text-align: center;
    }
}
@media (min-width : 995px){
    .mypageFrame{
        padding-left: 116px;
        padding-right: 116px;
        flex-direction: row;
    }
    .menuListFrame{
        padding-right: 40px;
        gap: 100px;
        border-right: 1px solid #D9D9D9;
    }
    .menuListContents{
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 30px;
        gap:40px;
    }
    .menu{
        padding: 5px 84px;
        border :none !important;
    }
    .menuListTitle{
        font-size: 35px;
    }
}