.elementGap{
    gap:9px;
}
.profileContents{
    gap: 40px;
}
.profileFrame{
    gap: 70px;
    font-family: 'thin';
}
.profileTitle{
    font-size: 25px;
}
.inputFrame input{
    padding: 13px 20px;
    font-size: 14px;
    font-family: 'thin';
}
@media (max-width :400px){
    .profileFrame{
        gap: 40px;
    }
    .profileTitle{
        font-size: 20px;
    }
}
@media (min-width : 635px){
    .profileFrame{
        padding-right: 50px;
        padding-left: 50px;
    }
}