.writeFrame{
    padding : 0 60px;
    padding-bottom: 150px;
    gap: 80px;    
}
.writeFrame input{
    padding: 10px 10px;
    font-size: 17px;
    font-family: 'thin';
}
.writeFrame textarea{
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'thin';
}
.roadMapWriteLeftSection input{
    width: 300px;
}
.border{
    border:1px solid #D9D9D9;
    border-radius: 10px;
}
.elemGap{
    gap: 24px;
}
.writerGap{
    gap: 10px;
}
.elemTitle{
    font-size: 30px;
    font-family: 'bold';
    color: #2493FA;
}
.addtionalCtx{
    padding: 13px 20px;
    font-size: 20px;
    font-family: 'thin';
    min-height: 360px;
}
.writeButtonFrame{
    justify-content: space-between;
}
.tagFrame{
    flex-wrap: wrap;
}


@media (min-width:635px){
    .writeFrame{
        padding-left: 116px;
        padding-right: 116px;
    }
    .writeFrame input{
        padding: 13px 20px;
        font-size: 20px;
        font-family: 'thin';
    }
    .writeFrame textarea{
        padding: 13px 20px;
        font-size: 20px;
    }
    .writeButtonFrame{
        justify-content: end;
    }
}

@media (min-width:1042px){
    .writeFrame{
        padding-left: 116px;
        padding-right: 116px;
    }

    
}