.commonButton{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'thin';
    background-color: #E6F4F1;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.writeIcon{
    width: 20px;
    height: 20px;
}

.reject{
    padding: 13px 42px;
    font-family: 'thin';
    font-size: 20px;
    background-color: #FFFFFF;
}
.submit{
    border-radius: 10px;
    border: none;
    padding: 13px 42px;
    font-family: 'thin';
    font-size: 20px;
    background-color: #E6F4F1;
}
.circleButton{
    border-radius: 50%;
    padding: 13px;
    background-color: #b9cffe;
    border: none;
    width: fit-content;
    cursor: pointer;
}
.fixed{
    position: fixed;
    right: 15px;
    top: 80px;
}
@media (min-width : 635px){
    .fixed{
        position: fixed;
        right: 280px;
        top: 150px;
    }
}