.ImageButton{
    height: fit-content;
    padding: 13px 53px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}
.ImageButton img{
    width: 20px;
    height: 20px;
}
.left{
    padding-right: 20px !important;
    padding-left: 23px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.right{
    padding-right: 23px !important;
    padding-left: 20px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.deleteRightBorder{
    border-right: none;
}