.queryFrame{
    font-size: 14px;
    font-family: 'thin';
    padding: 6px;
    text-align: center;
    width: fit-content;
    background-color: #FFFFFF;

}
.clicked{
    border-color: #2493FA !important;
}
@media (min-width : 635px){
    .queryFrame{
        font-size: 20px;
        padding : 6px 20px;
    }
}